*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 10 px;
}

body {
min-height: 100vh;    
font-size: 1.6rem
}

.background-white {
    background: #fff;
    color: #333
}

.background-dark {
    background: #333;
    color: #fff
}

.background-blue {
    background-color: #4267b2;
}

.background-yellow {
    color: #c7900a;
}

nav {
    margin: 0 auto;
    max-width: 110rem;
}

ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

li a {
    display: block;
    width: 100%;
    color:#fff;
    padding: 1.5rem;

}

li a:hover {
    background: #29487d;
}

main {
    max-width: 110 rem;
    min-height: calc(100vh-14.5rem);
    margin: 0 auto;
    padding: 0 1.5rem;
    text-align: center;
}

.weather {
    width: 30rem;
    height: 15rem;
    margin: 1rem auto;
    padding: 1rem;
    border: 0.5rem solid #4267b2;
    border-radius: 2rem;
}

.weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    padding: 2rem;
}

h2 {
    padding: 1rem
}

h3 {
    padding: 0 0 3rem 0;
}

.profile-photo {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: 0.5rem solid transparent;
    box-shadow: 0 0 0.5rem 0.5rem #4267b2;
    object-fit: cover
    ;
}

.toggle-background {
    display: block;
    margin:  2rem auto;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: #4267b2;
    border: none;
    border-radius: 1rem;
    outline: none;
}

.toggle-background:focus {
    box-shadow: 0 0 0 0.2rem #BC243C;
}

.toggle-background:hover {
    background-color: #29487d;
    cursor: pointer;
}

#description > div {
margin: 2rem;
}

.underline {
    width: 15rem;
    height: 1rem;
    margin: 2rem auto 0 auto;
    background: #4267b2;
    border-radius: 5rem;
}

footer {
   margin-top: 4rem;
   padding: 1rem;
   text-align: center;
   color: #fff; 
}

.mini-photo {
    height: 20rem;
    width: 20rem;
    border-radius: 5%;
    border: 0.5rem solid transparent;
    object-fit: cover;
}
a.nav-link:link {
    color: #333;
    text-decoration: none;
}
a.nav-link:visited {
    color: #333;
    text-decoration: none;
}
a.nav-link:hover {
    color: #4267b2;
    text-decoration: none;
}
a.nav-link:active {
    color: #333;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    li > a {
        padding: 2rem 5rem;

    }
    #description {
        display: flex;
        justify-content: space-evenly;
    }

    #description > div {
        max-width: 30%;
    }

    .paragraph {
        min-width: 20rem;
    }

@media screen and (min-width: 1025px) {
    .weather {
        min-height: 15rem;
        width: 20rem;
        position: absolute;
        right: 0;
    }
    .paragraph {
        min-height: 15rem;
    }
}
}